<!DOCTYPE html>

<html xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">

    <body>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성일시</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="question , index : ${questionList}">
                        <td>
                            <a th:href="@{|/article/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                        </td>
                        <td th:text="${question.createDate}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
    <div class="flex items-center justify-center py-10 lg:px-0 sm:px-6 px-4 mr-32">

        <div th:if="${!questionList.isEmpty()}"
            class="lg:w-3/5 w-full  flex items-center justify-between border-t border-gray-200">
            <a th:classappend="${!questionList.hasPrevious} ? 'disabled'" th:href="@{|?page=${questionList.number-1}|}"
                class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer">
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M1.1665 4L4.49984 7.33333" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M1.1665 4.00002L4.49984 0.666687" stroke="currentColor" stroke-width="1.25"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="text-sm ml-3 font-medium leading-none ">Previous
                </p>
            </a>
            <div th:each="page: ${#numbers.sequence(0, questionList.totalPages-1)}"
                th:classappend="${page == questionList.number} ? 'active'" class="sm:flex hidden">
                <a th:text="${page}" th:href="@{|?page=${page}|}"
                    class="text-sm font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2">
                </a>
            </div>
            <div class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer"
                th:classappend="${!questionList.hasNext} ? 'disabled'">
                <a th:href="@{|?page=${questionList.number+1}|}" class="text-sm font-medium leading-none mr-3">Next</a>
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M9.5 7.33333L12.8333 4" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M9.5 0.666687L12.8333 4.00002" stroke="currentColor" stroke-width="1.25"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </div>
        </div>
    </div>
</div>

</html>