<html xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
    <div class="hero min-h-screen" style="background-image: url(https://api.lorem.space/image/fashion?w=1000&h=800);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
                <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                    exercitationem
                    quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
                <div class="flex justify-center">
                    <div>
                        <button class="btn btn-primary w-28">로그인</button>
                    </div>
                    <div>
                        <button class="btn btn-primary w-28 ml-2">회원가입</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>